<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="young.home.com.mypassword">

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity" android:theme="@style/AppNoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SetPasswordActivity" android:theme="@style/AppNoActionBarTheme"/>
        <activity android:name=".activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.EditPasswordActivity"/>
        <service
            android:name="young.home.com.mypassword.service.MainService"
            android:exported="false"
            android:label="@string/app_name">
        </service>
    </application>

</manifest>
